.buscador-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.buscador-container__spacer {
  min-width: 1rem;
}

.buscador-container__input {
  border-radius: 10px 10px 10px 10px;
  padding: 10px 0px 10px 10px;
  width: 90%;
}

.buscador-container__boton {
  min-width: 20%;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--verde);
  color: var(--blanco);
  font-weight: bolder;
}

.buscador-container, .buscador-container__input  {
  font-size: 1.2rem;
}

.buscador-container, .buscador-container__boton  {
  font-size: 1.0rem;
}
