<section class="mostrador-container">

  <div class="mostrador-container__buscador">
    <app-buscador [placeholder]="placeholderBuscador" [labelBoton]="labelBotonBuscador"
      (inputInsertado)="onBuscarUsuario($event)"
     ></app-buscador>
  </div>

  <div class="mostrador-container__resultado-busqueda">
    <div *ngIf="estaCargando; then spinner else searchResult"></div>

    <ng-template #spinner>
      <app-spinner></app-spinner>
    </ng-template>

    <ng-template #searchResult>
      <div *ngIf="usuario===null; then usuarioNoEncontrado else usuarioEncontrado"></div>

      <ng-template #usuarioNoEncontrado>
        <h1> {{ mensajeUsuarioNull }} </h1>
      </ng-template>

      <ng-template #usuarioEncontrado>
        <app-git-hub-usuarios  [usuario]="usuario" [repositorios]="repositorios"></app-git-hub-usuarios>
      </ng-template>

    </ng-template>
  </div>

</section>
