.mostrador-container {
  height: 100%;
  width: 100%;
}

.mostrador-container__buscador {
  height: 5%;
  padding: 2%;
  background-color: var(--azul-oscuro);
}

.mostrador-container__resultado-busqueda {
  height: 95%;
  padding: 1%;
  background-color: var(--azul-muy-oscuro);
}
