body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

/* Variables globales */
:root {
  --verde: #43EC63;
  --azul-oscuro: #374963;
  --azul-muy-oscuro: #222D3D;
  --gris-azulado-clarito: #D8D3F0;
  --blanco: white;
}
