<div class="tabla-container cabecera-fija">
  <table class="tabla-container__tabla">
    <thead>
      <tr class="tabla-container__fila--cabecera">
        <th *ngFor="let cabecera of cabeceras"
          class="tabla-container__cabecera"
          (click)="onCabeceraClickada(cabecera)"
        >
          {{ cabecera.valor }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let filaDatos of datosMostrados" class="tabla-container__fila--contenido">
        <td *ngFor="let cabecera of cabeceras" class="tabla-container__celda">
          <div *ngIf="cabecera.id==='lenguajesProgramacion'; else datoNormal">
            <span> {{ filaDatos[cabecera.id] | lenguajes }} </span>
          </div>

          <ng-template #datoNormal>
            <span> {{ filaDatos[cabecera.id] }} </span>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
