.github-usuarios-container {
  height: 100%;
  width: 100%;
}

.github-usuarios-container__usuario-y-controles {
  min-height: 30%;
  max-height: 50%;
  width: 90vw;
  padding-left: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.github-usuarios-container__controles {
  min-width: 50%;
  max-width: 60%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.github-usuarios-container__filtros-lenguaje {
  padding-left: 5%;
  display: flex;
  gap: 1.5vw;
}

.github-usuarios-container__tabla-repositorios {
  padding: 1.2rem;
}

