<div class="github-usuarios-container">
  <section class="github-usuarios-container__usuario-y-controles">
    <app-usuario></app-usuario>

    <div class="github-usuarios-container__controles">
      <app-buscador [placeholder]="placeholderBuscador" [labelBoton]="labelBotonBuscador"
        (inputInsertado)="onFiltrarRepositorioPorNombre($event)"
      ></app-buscador>


      <app-filtros [filtros]="listaFiltrosLenguaje"
        (filtrosCambiados)="onFiltroCambiado($event)"
      ></app-filtros>
    </div>
  </section>

  <section class="github-usuarios-container__tabla-repositorios">
    <app-tabla
      [cabeceras]="cabecerasTabla"
      [datos$]="controladorRepositoriosActuales$"
    >
    </app-tabla>
  </section>
</div>

