<div class="github-usuarios-container">
  <section class="github-usuarios-container__usuario-y-controles">
    <app-usuario [usuario]="usuario"></app-usuario>

    <div class="github-usuarios-container__controles">
      <app-buscador [placeholder]="placeholderBuscador" [labelBoton]="labelBotonBuscador"
        (inputInsertado)="onFiltrarRepositorioPorNombre($event)"
      ></app-buscador>

      <div class="github-usuarios-container__filtros-lenguaje">
        <app-filtros [filtros]="listaFiltrosLenguaje"
          (filtrosCambiados)="onFiltroCambiado($event)"
        ></app-filtros>
      </div>
    </div>
  </section>

  <section class="github-usuarios-container__tabla-repositorios">
    <app-tabla
      [cabeceras]="cabecerasTabla"
      [datos$]="controladorRepositoriosActuales$"
    >
    </app-tabla>
  </section>
</div>

