
.spinner_container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size:calc(30px + 1.5vw);
  color: var(--gris-azulado-clarito)
}

#loading {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 7px solid var(--gris-azulado-clarito);
  border-radius: 50%;
  border-top-color: var(--verde);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
